<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>284889847185-4htdt0ps0du08409tvvgo36fbvs63c4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284889847185-4htdt0ps0du08409tvvgo36fbvs63c4s</string>
	<key>API_KEY</key>
	<string>AIzaSyDr9GicFd-qDnKHwjTq51t370tVF9wleKo</string>
	<key>GCM_SENDER_ID</key>
	<string>284889847185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsolution.appsolution.appsolution</string>
	<key>PROJECT_ID</key>
	<string>appsolution-669ae</string>
	<key>STORAGE_BUCKET</key>
	<string>appsolution-669ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284889847185:ios:23c71be28d8dcd97</string>
	<key>DATABASE_URL</key>
	<string>https://appsolution-669ae.firebaseio.com</string>
</dict>
</plist>